

<md-content id="page-two" layout-padding layout-wrap>
    <h1>Pick an album.</h1>
    <h2>Listen to some examples then continue.</h2>
    <div class="image-grid">
      <md-grid-list md-cols="4" md-cols-xs="2" md-cols-sm="3" md-cols-md="3" md-gutter="6px" md-row-height="1:1">
          <md-grid-tile class="md-whiteframe-z3">
            <a href="https://www.youtube.com/watch?v=AZ5NI35Bg-I"><img src="images/northlane.jpg" /></a>

          </md-grid-tile>
          <md-grid-tile class="md-whiteframe-z3">
            <a href="https://www.youtube.com/watch?v=spCmStMOiHE"><img src="images/peripheryii.jpg"  /></a>

          </md-grid-tile>
          <md-grid-tile class="md-whiteframe-z3">
            <a href="https://www.youtube.com/watch?v=oFiDcazicdk"><img src="images/meshuggahvsor.jpg" /></a>

          </md-grid-tile>
          <md-grid-tile class="md-whiteframe-z3">
            <a href="https://www.youtube.com/watch?v=OHvMYUR8SuE&list=PLuj-WzKNCr7-QfPCi5VEkvFErx2oCwxof"><img src="images/intervals.jpg" /></a>

          </md-grid-tile>
          <md-grid-tile class="md-whiteframe-z3">
            <a href="https://www.youtube.com/watch?v=WftD3i5AYGo"><img src="images/thecontortionist.jpg" /></a>

          </md-grid-tile>
          <md-grid-tile class="md-whiteframe-z3">
            <a href="https://www.youtube.com/watch?v=hnRv4azfris"><img src="images/gojira.jpg" /></a>

          </md-grid-tile>
          <md-grid-tile class="md-whiteframe-z3">
            <a href="https://www.youtube.com/watch?v=XwBmhnkRGM8"><img src="images/tesseract.jpg" /></a>

          </md-grid-tile>
          <md-grid-tile class="md-whiteframe-z3">
            <a href="https://www.youtube.com/watch?v=lCPwR7R4hlA"><img src="images/vom.jpg" /></a>

          </md-grid-tile>
      </md-grid-list>
    </div>
</md-content>
