<md-content id="page-five" layout-padding layout-wrap ng-controller="pageFiveController">
    <h1>What makes djent good?</h1>
    <p>
      Djent is considered a progressive form of music,
      therefore brings in fans of all types to appreciate
      different aspects. There is a good amount of
      technical complexity throughout the genre that
      appeals to lots of the fan base. The music is
      most always meaningful to the musicians that wrote it.
      The entire genre is fueled by passion for writing
      and performing.
    </p>
    <h1>Passion makes the genre.</h1>
    <div class="video-embed">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/O-Vb08vyvpE" frameborder="0" allowfullscreen></iframe>
    </div>

</md-content>
